interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/d23508ee81467dff9435d42d1d4633e178e59992?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,authors.authorId,authors.externalIds,authors.url,authors.name,authors.aliases,authors.affiliations,authors.homepage,authors.paperCount,authors.citationCount,authors.hIndex
  response:
    body:
      string: '{"paperId": "d23508ee81467dff9435d42d1d4633e178e59992", "externalIds":
        {"DOI": "10.1007/s00018-021-03820-y", "CorpusId": 233201568, "PubMed": "33837450"},
        "publicationVenue": null, "url": "https://www.semanticscholar.org/paper/d23508ee81467dff9435d42d1d4633e178e59992",
        "title": "Molecular and neural mechanisms regulating sexual motivation of
        virgin female Drosophila", "abstract": null, "venue": "Cellular and Molecular
        Life Sciences", "year": 2021, "referenceCount": 157, "citationCount": 3, "influentialCitationCount":
        0, "isOpenAccess": false, "openAccessPdf": null, "fieldsOfStudy": ["Medicine"],
        "s2FieldsOfStudy": [{"category": "Medicine", "source": "external"}, {"category":
        "Biology", "source": "s2-fos-model"}, {"category": "Psychology", "source":
        "s2-fos-model"}], "publicationTypes": ["Review", "JournalArticle"], "publicationDate":
        "2021-04-10", "journal": {"name": "Cellular and Molecular Life Sciences",
        "pages": "4805 - 4819", "volume": "78"}, "citationStyles": {"bibtex": "@[''Review'',
        ''JournalArticle'']{Ishimoto2021MolecularAN,\n author = {H. Ishimoto and A.
        Kamikouchi},\n booktitle = {Cellular and Molecular Life Sciences},\n journal
        = {Cellular and Molecular Life Sciences},\n pages = {4805 - 4819},\n title
        = {Molecular and neural mechanisms regulating sexual motivation of virgin
        female Drosophila},\n volume = {78},\n year = {2021}\n}\n"}, "authors": [{"authorId":
        "48446534", "externalIds": {}, "url": "https://www.semanticscholar.org/author/48446534",
        "name": "H. Ishimoto", "aliases": ["H Ishimoto", "H. Ishimoto", "Hiroshi Ishimoto"],
        "affiliations": [], "homepage": null, "paperCount": 43, "citationCount": 1613,
        "hIndex": 23}, {"authorId": "5683768", "externalIds": {}, "url": "https://www.semanticscholar.org/author/5683768",
        "name": "A. Kamikouchi", "aliases": ["A Kamikouchi", "Azusa Kamikouchi"],
        "affiliations": [], "homepage": null, "paperCount": 68, "citationCount": 3137,
        "hIndex": 22}]}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - AhvCJHzaPHcFviw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1926'
      x-amzn-Remapped-Date:
      - Sat, 18 Feb 2023 08:53:33 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 421ff570-0772-4109-a5fb-27770af86e51
    status:
      code: 200
      message: OK
version: 1
