interactions:
- request:
    body: '{"ids": ["6499892", "2088543397"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/author/batch?fields=authorId,externalIds,url,name,aliases,affiliations,homepage,paperCount,citationCount,hIndex
  response:
    body:
      string: '[{"authorId": "6499892", "externalIds": {}, "url": "https://www.semanticscholar.org/author/6499892",
        "name": "Eva Berlot", "aliases": null, "affiliations": [], "homepage": null,
        "paperCount": 22, "citationCount": 227, "hIndex": 8}, {"authorId": "2088543397",
        "externalIds": {}, "url": "https://www.semanticscholar.org/author/2088543397",
        "name": "Bo Fu", "aliases": null, "affiliations": [], "homepage": null, "paperCount":
        1, "citationCount": 1, "hIndex": 1}]

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - AynNxFqEvHcF2XA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '461'
      x-amzn-Remapped-Date:
      - Thu, 23 Feb 2023 11:47:35 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 3834c8e1-4eb4-46c5-8b25-dfd8bec5d41a
    status:
      code: 200
      message: OK
version: 1
