interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/e2e1aa8b8b1dfed9c65589d5293acbae4cbe061a?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,authors.authorId,authors.url,authors.name,authors.aliases,authors.affiliations,authors.homepage,authors.paperCount,authors.citationCount,authors.hIndex
  response:
    body:
      string: '{"paperId": "e2e1aa8b8b1dfed9c65589d5293acbae4cbe061a", "externalIds":
        {"MAG": "3016997274", "DOI": "10.1016/j.cub.2022.06.031", "CorpusId": 216071346,
        "PubMed": "35797998"}, "publicationVenue": {"id": "9469269e-53d7-4955-b1a5-17a75bee7634",
        "name": "Current Biology", "type": "journal", "alternate_names": ["Curr Biology"],
        "issn": "0960-9822", "url": "http://www.current-biology.com/", "alternate_urls":
        ["http://www.sciencedirect.com/science/journal/09609822"]}, "url": "https://www.semanticscholar.org/paper/e2e1aa8b8b1dfed9c65589d5293acbae4cbe061a",
        "title": "Structured sampling of olfactory input by the fly mushroom body",
        "abstract": null, "venue": "Current Biology", "year": 2020, "referenceCount":
        154, "citationCount": 32, "influentialCitationCount": 3, "isOpenAccess": true,
        "openAccessPdf": {"url": "http://www.cell.com/article/S0960982222009903/pdf",
        "status": "GREEN"}, "fieldsOfStudy": ["Biology", "Medicine"], "s2FieldsOfStudy":
        [{"category": "Biology", "source": "external"}, {"category": "Medicine", "source":
        "external"}, {"category": "Biology", "source": "s2-fos-model"}], "publicationTypes":
        ["JournalArticle"], "publicationDate": "2020-04-18", "journal": {"name": "Current
        Biology", "pages": "3334-3349.e6", "volume": "32"}, "citationStyles": {"bibtex":
        "@[''JournalArticle'']{Zheng2020StructuredSO,\n author = {Z. Zheng and Feng
        Li and Corey B. Fisher and I. Ali and Nadiya Sharifi and Steven A. Calle-Schuler
        and Joseph Hsu and Najla Masoodpanah and L. Kmecova and Tom Kazimiers and
        E. Perlman and Matthew Nichols and Peter H. Li and Viren Jain and D. Bock},\n
        booktitle = {Current Biology},\n journal = {Current Biology},\n pages = {3334-3349.e6},\n
        title = {Structured sampling of olfactory input by the fly mushroom body},\n
        volume = {32},\n year = {2020}\n}\n"}, "authors": [{"authorId": "2115546389",
        "url": "https://www.semanticscholar.org/author/2115546389", "name": "Z. Zheng",
        "aliases": ["Z. Zheng", "Zhihao Zheng"], "affiliations": [], "homepage": null,
        "paperCount": 9, "citationCount": 749, "hIndex": 5}, {"authorId": "2146311675",
        "url": "https://www.semanticscholar.org/author/2146311675", "name": "Feng
        Li", "aliases": null, "affiliations": [], "homepage": null, "paperCount":
        25, "citationCount": 1863, "hIndex": 15}, {"authorId": "41094461", "url":
        "https://www.semanticscholar.org/author/41094461", "name": "Corey B. Fisher",
        "aliases": ["Corey Fisher"], "affiliations": [], "homepage": null, "paperCount":
        3, "citationCount": 654, "hIndex": 3}, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/e2e1aa8b8b1dfed9c65589d5293acbae4cbe061a/citations?&fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"isInfluential": false, "citingPaper": {"paperId":
        "0247a960c117ec432f8e52d8c96f3dd46bd742bd", "title": "Hacking brain development
        to test models of sensory coding"}}, {"isInfluential": false, "citingPaper":
        {"paperId": "6c32d89c783891ba23860a8999e8150812c99b73", "title": "Drosophila
        olfaction: past, present and future"}}, {"isInfluential": true, "citingPaper":
        {"paperId": "bd04c9a4e66dbb8ad2217c6f7ddce1fad1157919", "title": "The cellular
        architecture of memory modules in Drosophila supports stochastic input integration"}},
        {"isInfluential": false, "citingPaper": {"paperId": "b60e981fd5268a290dbf4e7d8346036396ecaf7d",
        "title": "Meta-Learning the Inductive Biases of Simple Neural Circuits"}},
        {"isInfluential": false, "citingPaper": {"paperId": "a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/e2e1aa8b8b1dfed9c65589d5293acbae4cbe061a/references?&fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"isInfluential": false, "citedPaper": {"paperId":
        "53477b5d896237c36d7d5eef7659efa54cb2821d", "title": "Response competition
        between neurons and antineurons in the mushroom body"}}, {"isInfluential":
        false, "citedPaper": {"paperId": null, "title": "Connectivity patterns shape
        sensory representation in a cerebellumlike network"}}, {"isInfluential": false,
        "citedPaper": {"paperId": "641ee65c532f9de8fc0ceb4796d9038abc4640d4", "title":
        "Information flow, cell types and stereotypy in a ful[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,authors.authorId,authors.url,authors.name,authors.aliases,authors.affiliations,authors.homepage,authors.paperCount,authors.citationCount,authors.hIndex
  response:
    body:
      string: '{"paperId": "649def34f8be52c8b66281af98ae884c09aef38b", "externalIds":
        {"DBLP": "conf/naacl/AmmarGBBCDDEFHK18", "MAG": "2952867657", "ACL": "N18-3011",
        "ArXiv": "1805.02262", "DOI": "10.18653/v1/N18-3011", "CorpusId": 19170988},
        "publicationVenue": {"id": "01103732-3808-4930-b8e4-7e9e68d5c68d", "name":
        "North American Chapter of the Association for Computational Linguistics",
        "type": "conference", "alternate_names": ["North Am Chapter Assoc Comput Linguistics",
        "NAACL"], "url": "https://www.aclweb.org/portal/naacl"}, "url": "https://www.semanticscholar.org/paper/649def34f8be52c8b66281af98ae884c09aef38b",
        "title":[...]
[...]
