interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/author/6499892?fields=authorId,externalIds,url,name,aliases,affiliations,homepage,paperCount,citationCount,hIndex
  response:
    body:
      string: '{"authorId": "6499892", "externalIds": {}, "url": "https://www.semanticscholar.org/author/6499892",
        "name": "Eva Berlot", "aliases": null, "affiliations": [], "homepage": null,
        "paperCount": 22, "citationCount": 225, "hIndex": 8}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - f0devEELPHcFXxg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '230'
      x-amzn-Remapped-Date:
      - Sat, 04 Feb 2023 15:12:55 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 00d508fa-8f77-4eb6-8c90-b94c58a37081
    status:
      code: 200
      message: OK
version: 1
