interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,tldr,embedding
  response:
    body:
      string: '{"paperId": "649def34f8be52c8b66281af98ae884c09aef38b", "externalIds":
        {"DBLP": "conf/naacl/AmmarGBBCDDEFHK18", "MAG": "2952867657", "ACL": "N18-3011",
        "ArXiv": "1805.02262", "DOI": "10.18653/v1/N18-3011", "CorpusId": 19170988},
        "publicationVenue": {"id": "01103732-3808-4930-b8e4-7e9e68d5c68d", "name":
        "North American Chapter of the Association for Computational Linguistics",
        "type": "conference", "alternate_names": ["North Am Chapter Assoc Comput Linguistics",
        "NAACL"], "url": "https://www.aclweb.org/portal/naacl"}, "url": "https://www.semanticscholar.org/paper/649def34f8be52c8b66281af98ae884c09aef38b",
        "title": "Construction of the Literature Graph in Semantic Scholar", "abstract":
        "We describe a deployed scalable system for organizing published scientific
        literature into a heterogeneous graph to facilitate algorithmic manipulation
        and discovery. The resulting literature graph consists of more than 280M nodes,
        representing papers, authors, entities and various interactions between them
        (e.g., authorships, citations, entity mentions). We reduce literature graph
        construction into familiar NLP tasks (e.g., entity extraction and linking),
        point out research challenges due to differences from standard formulations
        of these tasks, and report empirical results for each task. The methods described
        in this paper are used to enable semantic features in www.semanticscholar.org.",
        "venue": "North American Chapter of the Association for Computational Linguistics",
        "year": 2018, "referenceCount": 27, "citationCount": 286, "influentialCitationCount":
        32, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.aclweb.org/anthology/N18-3011.pdf",
        "status": "HYBRID"}, "fieldsOfStudy": ["Computer Science"], "s2FieldsOfStudy":
        [{"category": "Computer Science", "source": "external"}, {"category": "Computer
        Science", "source": "s2-fos-model"}], "embedding": {"model": "specter@v0.1.1",
        "vector": [-8.82082748413086, -2.6610865592956543, 0.8936576843261719, 0.26382559537887573,
        1.513496994972229, -1.0313653945922852, 0.7256110906600952, 2.080476999282837,
        0.8230894804000854, 4.205087661743164, -0.9822302460670471, -0.03232526779174805,
        -2.4075639247894287, -0.9867752194404602, -1.921100378036499, 0.7259652018547058,
        -0.7707503437995911, -3.645012140274048, 3.874178647994995, 1.7716397047042847,
        3.568206787109375, 0.44507932662963867, -4.56794118881[...]
