interactions:
- request:
    body: '{"ids": ["5027b38c67f7cac3b4b277056be703ad74e864f4", "0f8cb4a6c794ee18d5f9177782cf07d000adffca",
      "6d26a7d1d6de855db5b632766835a9f010f64938", "8240d155f3b3a04e4de38a903bb001d84fb3b492"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors
  response:
    body:
      string: '{"message": "Internal Server Error"}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - BuOgSGi8PHcF39A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '37'
      x-amzn-Remapped-Date:
      - Mon, 13 Mar 2023 13:53:18 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 15a5cea2-bba6-4d53-b26c-f78506504bf2
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"ids": ["5027b38c67f7cac3b4b277056be703ad74e864f4", "0f8cb4a6c794ee18d5f9177782cf07d000adffca"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors
  response:
    body:
      string: '[{"paperId": "5027b38c67f7cac3b4b277056be703ad74e864f4", "externalIds":
        {"ACL": "2020.eval4nlp-1.3", "MAG": "3098683121", "DOI": "10.18653/v1/2020.eval4nlp-1.3",
        "CorpusId": 226283632}, "publicationVenue": null, "url": "https://www.semanticscholar.org/paper/5027b38c67f7cac3b4b277056be703ad74e864f4",
        "title": "Item Response Theory for Efficient Human Evaluation of Chatbots",
        "abstract": "Conversational agent quality is currently assessed using human
        evaluation, and often requires an exorbitant number of comparisons to achieve
        statistical significance. In this paper, we introduce Item Response Theory
        (IRT) for chatbot evaluation, using a paired comparison in which annotators
        judge which system responds better to the next turn of a conversation. IRT
        is widely used in educational testing for simultaneously assessing the ability
        of test takers and the quality of test questions. It is similarly well suited
        for chatbot evaluation since it allows the assessment of both models and the
        prompts used to evaluate them. We use IRT to efficiently assess chatbots,
        and show that different examples from the evaluation set are better suited
        for comparing high-quality (nearer to human performance) than low-quality
        systems. Finally, we use IRT to reduce the number of evaluation examples assessed
        by human annotators while retaining discriminative power.", "venue": "EVAL4NLP",
        "year": 2020, "referenceCount": 63, "citationCount": 13, "influentialCitationCount":
        0, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.aclweb.org/anthology/2020.eval4nlp-1.3.pdf",
        "status": "HYBRID"}, "fieldsOfStudy": ["Computer Science"], "s2FieldsOfStudy":
        [{"category": "Computer Science", "source": "external"}, {"category": "Computer
        Science", "source": "s2-fos-model"}], "publicationTypes": null, "publicationDate":
        "2020-11-01", "journal": {"name": "Proceedings of the First Workshop on Evaluation
        and Comparison of NLP Systems"}, "citationStyles": {"bibtex": "@None{Sedoc2020ItemRT,\n
        author = {Jo\u00e3o Sedoc and L. Ungar},\n booktitle = {EVAL4NLP},\n journal
        = {Proceedings of the First Workshop on Evaluation and Comparison of NLP Systems},\n
        title = {Item Response Theory for Efficient Human Evaluation of Chatbots},\n
        year = {2020}\n}\n"}, "authors": [{"authorId": "2662374", "name": "Jo\u00e3o
        Sedoc"}, {"authorId": "1412391493", "name": "L. Ungar"}]}, {"paperId": "0f8cb4a6c794ee18d5f9177782cf07d000adffca",
        "externalIds": {"ArXiv": "2010.12741", "DBLP": "journals/corr/abs-2010-12741",
        "MAG": "3094313828", "CorpusId": 225067695}, "publicationVenue": null, "url":
        "https://www.semanticscholar.org/paper/0f8cb4a6c794ee18d5f9177782cf07d000adffca",
        "title": "An Evaluation Protocol for Generative Conversational Systems", "abstract":
        "There is a multitude of novel generative models for open-domain conversational
        systems; however, there is no systematic evaluation of different systems.
        Systematic compariso[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/6d26a7d1d6de855db5b632766835a9f010f64938?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,authors.authorId,authors.externalIds,authors.url,authors.name,authors.aliases,authors.affiliations,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/6d26a7d1d6de855db5b632766835a9f010f64938/citations?fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": []}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - BuOgwHwYvHcFgsg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '26'
      x-amzn-Remapped-Date:
      - Mon, 13 Mar 2023 13:53:21 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 93258559-7bba-44b1-a394-7dd3cc9c1676
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/6d26a7d1d6de855db5b632766835a9f010f64938/references?fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"isInfluential": true, "citedPaper": {"paperId":
        "ba4a4d31d2af23eefadbf19e5efd5a7d4fd89143", "title": "Less is More: CLIPBERT
        for Video-and-Language Learning via Sparse Sampling"}}, {"isInfluential":
        false, "citedPaper": {"paperId": "425fc8829ff30c4795776a92076b6d6ba8714f51",
        "title": "C-MIL: Continuation Multiple Instance Learning for Weakly Supervised
        Object Detection"}}, {"isInfluential": true, "citedPaper": {"paperId": "11663c4130486e1ea088906b19b72925f7d80213",
        "title": "Not\u20[...]
- request:
    body: '{"ids": ["8240d155f3b3a04e4de38a903bb001d84fb3b492"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors
  response:
    body:
      string: '[{"paperId": "8240d155f3b3a04e4de38a903bb001d84fb3b492", "externalIds":
        {"MAG": "2940857995", "DOI": "10.14419/IJET.V7I4.44.26973", "CorpusId": 145025838},
        "publicationVenue": {"id": "6dc36a30-cc99-4370-b330-e671558d5446", "name":
        "International journal of engineering and technology", "type": "journal",
        "alternate_names": ["Int J Eng Technol", "Int j eng technol", "International
        journal of engineering & technology", "Int j eng  technol", "International
        Journal of Engineering and Technologies", "Int J Eng  Technol", "International
        Journal of Engineering & Technology", "International Journal of Engineering
        and Technology"], "issn": "2564-6184", "alternate_issns": ["0975-4024", "2077-1185",
        "2227-524X", "2049-3444", "2297-623X", "1812-7711", "1793-8236"], "url": "http://dergipark.gov.tr/ijente",
        "alternate_urls": ["http://www.enggjournals.com/ijet/", "https://www.sciencepubco.com/index.php/ijet",
        "http://www.enggjournals.com/ijet/index.html", "http://www.iet-journals.org/",
        "http://www.ijetch.org/", "http://gscience.gurpukur.com/index.php?cPath=5",
        "https://www.scipress.com/ETET.5", "https://www.scipress.com/IJET"]}, "url":
        "https://www.semanticscholar.org/paper/8240d155f3b3a04e4de38a903bb001d84fb3b492",
        "title": "N-Gram Accuracy Analysis in the Method of Chatbot [...]
