interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/author/6499892?fields=authorId,externalIds,url,name,aliases,affiliations,homepage,paperCount,citationCount,hIndex
  response:
    body:
      string: '{"authorId": "6499892", "externalIds": {}, "url": "https://www.semanticscholar.org/author/6499892",
        "name": "Eva Berlot", "aliases": null, "affiliations": [], "homepage": null,
        "paperCount": 22, "citationCount": 227, "hIndex": 8}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ArWC6GXdPHcFy2A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '230'
      x-amzn-Remapped-Date:
      - Tue, 21 Feb 2023 06:52:02 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 6ef8ce9e-49e0-4735-ae0a-6384efc915cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/author/6499892/papers?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"paperId": "3db561bdd3f350dd8315c6b2d38e0a01b9da8a42",
        "externalIds": {"DOI": "10.1016/j.neuron.2022.04.023", "CorpusId": 249245905,
        "PubMed": "35654021"}, "publicationVenue": {"id": "7a61412a-9a9a-487d-9613-5a1fbd879c9d",
        "name": "Neuron", "type": "journal", "issn": "0896-6273", "url": "https://www.cell.com/neuron/home",
        "alternate_urls": ["http://www.cell.com/neuron/home", "http://www.sciencedirect.com/science/journal/08966273",
        "http://www.neuron.org/"]}, "url": "https://www.semanticscholar.org/paper/3db561bdd3f350dd8315c6b2d38e0a01b9da8a42",
        "title": "Flexible recoding of visual input for memory storage", "abstract":
        null, "venue": "Neuron", "year": 2022, "referenceCount": 9, "citationCount":
        0, "influentialCitationCount": 0, "isOpenAccess": false, "openAccessPdf":
        null, "fieldsOfStudy": ["Medicine"], "s2FieldsOfStudy": [{"category": "Medicine",
        "source": "external"}, {"category": "Psychology", "source": "s2-fos-model"},
        {"category": "Biology", "source": "s2-fos-model"}], "publicationTypes": ["JournalArticle"],
        "publicationDate": "2022-06-01", "journal": {"volume": "110", "pages": "1747-1749",
        "name": "Neuron"}, "citationStyles": {"bibtex": "@[''JournalArticle'']{Berlot2022FlexibleRO,\n
        author = {Eva Berlot and F. P. Lange},\n booktitle = {Neuron},\n journal =
        {Neuron},\n pages = {1747-1749},\n title = {Flexible recoding of visual input
        for memory storage},\n volume = {110},\n year = {2022}\n}\n"}, "authors":
        [{"authorId": "6499892", "name": "Eva Berlot"}, {"authorId": "8462179", "name":
        "F. P. Lange"}]}, {"paperId": "8ad2037f8f7bf44e51d7b23696e5a48fffcfb864",
        "externalIds": {"DOI": "10.1523/JNEUROSCI.0863-21.2021", "CorpusId": 236453837,
        "PubMed": "34312223"}, "publicationVenue": {"id": "52edfc09-8d65-4876-8560-84530d7259b9",
        "name": "Journal of Neuroscience", "type": "journal", "alternate_names": ["The
        Journal of Neuroscience", "J Neurosci"], "issn": "0270-6474", "url": "https://www.jneurosci.org/",
        "alternate_urls": ["http://www.jneurosci.org/"]}, "url": "https://www.semanticscholar.org/paper/8ad2037f8f7bf44e51d7b23696e5a48fffcfb864",
        "title": "Combining Repetition Suppression and Pattern Analysis Provides New
        Insights into the Role of M1 and Parietal Areas in Skilled Sequential Actions",
        "abstract": "How does the brain change during learning? In[...]
