interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/author/6499892?fields=authorId,externalIds,url,name,aliases,affiliations,homepage,paperCount,citationCount,hIndex
  response:
    body:
      string: '{"authorId": "6499892", "externalIds": {}, "url": "https://www.semanticscholar.org/author/6499892",
        "name": "Eva Berlot", "aliases": null, "affiliations": [], "homepage": null,
        "paperCount": 22, "citationCount": 227, "hIndex": 8}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - BC2qNEyWvHcFaoA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '230'
      x-amzn-Remapped-Date:
      - Tue, 28 Feb 2023 10:03:32 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - cf9c6e2a-e7ef-4975-bbbe-687d90a853da
    status:
      code: 200
      message: OK
version: 1
