interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=temporal+knowledge+graph+embedding&year=2019-2020&fields=paperId,title&offset=0&limit=100
  response:
    body:
      string: '{"total": 2177, "offset": 0, "next": 100, "data": [{"paperId": "58e1b93b18370433633152cb8825917edc2f16a6",
        "title": "Temporal Knowledge Graph Embedding Model based on Additive Time
        Series Decomposition"}, {"paperId": "96b1f6fb6e904a674aef5cd32efee3edfa1c8ee2",
        "title": "Context-Aware Temporal Knowledge Graph Embedding"}, {"paperId":
        "6de535eb1b0024887227f7987e6eb22478af2a95", "title": "Hybrid-TE: Hybrid Translation-Based
        Temporal Knowledge Graph Embedding"}, {"paperId": "e70bcd320f96bf1b20f9102cb1db4725ecf903f5",
        "title": "Diachronic Embedding for Temporal Knowledge Gr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=temporal+knowledge+graph+embedding&year=2019-2020&fields=paperId,title&offset=100&limit=100
  response:
    body:
      string: '{"total": 2177, "offset": 100, "next": 200, "data": [{"paperId": "4be29e1cd866ab31f83f03723e2f307cdc1faab0",
        "title": "Data Poisoning Attack against Knowledge Graph Embedding"}, {"paperId":
        "018e629e5c53794ea7dadad623bdfa2bcf2c9f92", "title": "Orthogonal Relation
        Transforms with Graph Context Modeling for Knowledge Graph Embedding"}, {"paperId":
        "5d6b4c5e48ec0585facea96a746bcbf7225d424c", "title": "Knowledge graph embedding
        by translating in time domain space for link prediction"}, {"paperId": "a264af122f9f2ea5df46c030beb8ec0c25d6e907",
        "title": "Evaluation of knowledge graph embedding approaches for drug-drug
        interaction prediction in realistic settings"}, {"paperId": "ca79e63571ca583dfee0f350e709b59bb0a65f8d",
        "title": "AutoSF: Searching Scoring Functions for Knowledge Graph Embedding"},
        {"paperId": "fe27a469cf190ca90d29828501d489586e701815", "title": "Correction
        to: Aggregating neighborhood information for negative sampling for knowledge
        graph embedding"}, {"paperId": "2474b36db67907dca830e2e4ddea6512e4dd2f5e",
        "title": "Recurrent Event Network : Global Structure Inference Over Temporal
        Knowledge Graph"}, {"paperId": "747dff7b9cd0d6feb16c340b684b1923034e8777",
        "title": "GrEDeL: A Knowledge Graph Embedding Based Method for Drug Discovery
        From Biomedical Literatures"}, {"paperId": "3e3a84bbceba79843ca1105939b2eb438c149[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/search?query=temporal+knowledge+graph+embedding&year=2019-2020&fields=paperId,title&offset=1400&limit=100
  response:
    body:
      string: '{"total": 2177, "offset": 1400, "next": 1500, "data": [{"paperId":
        "a3dce976cb4bc2b9ab58186599c643e84d486616", "title": "Explanatory Diagnosis
        of Discrete-Event Systems with Temporal Information and Smart Knowledge-Compilation"},
        {"paperId": "39ca19b94b02a6e9d9ad201a0db085bcacf78b46", "title": "Large scale
        distributed spatio-temporal reasoning using real-world knowledge graphs"},
        {"paperId": "24d1b149a9f25288542785fd16e33ab7eb93563f", "title": "TREC CAR
        Y3: Complex Answer Retrieval Overview"}, {"paperId": "c486b419175c483d74f0713733cf7b60d143e41b",
        "title": "Automatic derivation of formulas by graph embedding and pattern
        matching network"}, {"paperId": "8e4b0bdc082bf325fcc0aa5b6e463b2ef0f8ef72",
        "title": "Open-world knowledge graph completion with multiple interaction
        attention"}, {"paperId": "422ed48048d5bc53ea6757fd1311b3f931f0dbb1", "title":
        "High Order Semantic Relations-Based Temporal Recommendation Mod[...]
[...]
