interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,authors.authorId,authors.externalIds,authors.url,authors.name,authors.aliases,authors.affiliations,authors.homepage,authors.paperCount,authors.citationCount,authors.hIndex
  response:
    body:
      string: '{"paperId": "649def34f8be52c8b66281af98ae884c09aef38b", "externalIds":
        {"DBLP": "conf/naacl/AmmarGBBCDDEFHK18", "MAG": "2952867657", "ACL": "N18-3011",
        "ArXiv": "1805.02262", "DOI": "10.18653/v1/N18-3011", "CorpusId": 19170988},
        "publicationVenue": {"id": "01103732-3808-4930-b8e4-7e9e68d5c68d", "name":
        "North American Chapter of the Association for Computational Linguistics",
        "type": "conference", "alternate_names": ["North Am Chapter Assoc Comput Linguistics",
        "NAACL"], "url": "https://www.aclweb.org/portal/naacl"}, "url": "https://www.semanticscholar.org/paper/649def34f8be52c8b66281af98ae884c09aef38b",
        "title": "Construction of the Literature Graph in Semantic Scholar", "abstract":
        "We describe a deployed scalable system for organizing published scientific
        literature into a heterogeneous graph to facilitate algorithmic manipulation
        and discovery. The resulting literature graph consists of more than 280M nodes,
        representing papers, authors, entities and various interactions between them
        (e.g., authorships, citations, entity mentions). We reduce literature graph
        construction into familiar NLP tasks (e.g., entity extraction and linking),
        point out research challenges due to differences from standard formulations
        of these tasks, and report empirical results for each task. The methods described
        in this paper are used to enable semantic features in www.semanticscholar.org.",
        "venue": "North American Chapter of the Association for Computational Linguistics",
        "year": 2018, "referenceCount": 27, "citationCount": 296, "influentialCitationCount":
        35, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.aclweb.org/anthology/N18-3011.pdf",
        "status": "HYBRID"}, "fieldsOfStudy": ["Computer Science"], "s2FieldsOfStudy":
        [{"category": "Computer Science", "source": "external"}, {"category": "Computer
        Science", "source": "s2-fos-model"}], "publicationTypes": ["JournalArticle",
        "Conference"], "publicationDate": "2018-05-06", "journal": {"pages": "84-91"},
        "citationStyles": {"bibtex": "@[''JournalArticle'', ''Conference'']{Ammar2018ConstructionOT,\n
        author = {Waleed Ammar and Dirk Groeneveld and Chandra Bhagavatula and Iz
        Beltagy and Miles Crawford and Doug Downey and Jason Dunkelberger and Ahmed
        Elgohary and Sergey Feldman and Vu A. Ha and Rodney Michael Kinney and Sebastian
        Kohlmeier and Kyle Lo and Tyler C. Murray and Hsu-Han Ooi and Matthew E. Peters
        and Joanna L. Power and Sam Skjonsberg and Lucy Lu Wang and Christopher Wilhelm
        and Zheng Yuan and Madeleine van Zuylen and Oren Etzioni},\n booktitle = {North
        American Chapter of the Association for Computational Linguistics},\n pages
        = {84-91},\n title = {Construction of the Literature Graph in Semantic Scholar},\n
        year = {2018}\n}\n"}, "authors": [{"authorId": "145585097", "externalIds":
        {"DBLP": ["Waleed Ammar"]}, "url": "https://www.semanticscholar.org/author/145585097",
        "name": "Waleed Ammar", "aliases": ["W Ashor Ammar", "W. Ammar", "Waleed A
        Ammar", "Walid Ammar"], "affiliations": ["Allen Institute for Artificial Intelligence
        (AI2)"], "homepage": null, "paperCount": 60, "citationCount": 3291, "hIndex":
        23}, {"authorId": "3458736", "externalIds": {"DBLP": ["Dirk Groeneveld"]},
        "url": "https://www.semanticscholar.org/author/3458736", "name": "Dirk Groeneveld",
        "aliases": null, "affiliations": [], "homepage": null, "paperCount": 7, "citationCount":
        505, "hIndex": 6}, {"authorId": "1857797", "externalIds": {"DBLP": ["Chandra
        Bhagavatula", "Chandra Sekhar Bhagavatula"]}, "url": "https://www.semanticscholar.org/author/1857797",
        "name": "Chandra Bhagav[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b/citations?fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"isInfluential": false, "citingPaper": {"paperId":
        "4245c6eb4f59ad5faf9ed9dbc2f0bea8dc393a6a", "title": "Disparity in the Evolving
        COVID-19 Collaboration Network (preprint)"}}, {"isInfluential": true, "citingPaper":
        {"paperId": "e7dcdfb7734d59b97f825cce8b3105a2d9b14d10", "title": "The Effect
        of Metadata on Scientific Literature Tagging: A Cross-Field Cross-Model Study"}},
        {"isInfluential": true, "citingPaper": {"paperId": "1a37f43db8108af003bc9af181460ddaacf9e815",
        "title": "Convolutio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b/references?fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"isInfluential": false, "citedPaper": {"paperId":
        "1fec9d41d372267b4474f18cbeadd806c8b67adb", "title": "Extracting Scientific
        Figures with Distantly Supervised Neural Networks"}}, {"isInfluential": false,
        "citedPaper": {"paperId": "921b2958cac4138d188fd5047aa12bbcf37ac867", "title":
        "Content-Based Citation Recommendation"}}, {"isInfluential": false, "citedPaper":
        {"paperId": "2264e14e35dc5a3db93437bc408a03171af8c59d", "title": "The AI2
        system at SemEval-2017 Task 10 (ScienceIE): semi-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/d23508ee81467dff9435d42d1d4633e178e59992?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,authors.authorId,authors.externalIds,authors.url,authors.name,authors.aliases,authors.affiliations,authors.homepage,authors.paperCount,authors.citationCount,authors.hIndex
  response:
    body:
      string: '{"paperId": "d23508ee81467dff9435d42d1d4633e178e59992", "externalIds":
        {"DOI": "10.1007/s00018-021-03820-y", "CorpusId": 233201568, "PubMed": "33837450"},
        "publicationVenue": null, "url": "https://www.semanticscholar.org/paper/d23508ee81467dff9435d42d1d4633e178e59992",
        "title": "Molecular and neural mechanisms regulating sexual motivation of
        virgin female Drosophila", "abstract": null, "venue": "Cellular and Molecular
        Life Sciences", "year": 2021, "referenceCount": 157, "citationCount": 3, "influentialCitationCount":
        0, "isOpenAccess": false, "openAccessPdf": null, "fieldsOfStudy": ["Medicine"],
        "s2FieldsOfStudy": [{"category": "Medicine", "source": "external"}, {"category":
        "Biology", "source": "s2-fos-model"}, {"category": "Psychology", "source":
        "s2-fos-model"}], "publicationTypes": ["Review", "JournalArticle"], "publicationDate":
        "2021-04-10", "journal": {"name": "Cellular and Molecular Life Sciences",
        "pages": "4805 - 4819", "volume": "78"}, "citationStyles": {"bibtex": "@[''Review'',
        ''JournalArticle'']{Ishimoto2021MolecularAN,\n author = {H. Ishimoto and A.
        Kamikouchi},\n booktitle = {Cellular and Molecular Life Sciences},\n journal
        = {Cellular and Molecular Life Sciences},\n pages = {4805 - 4819},\n title
        = {Molecular and neural mechanisms regulating sexual motivation of virgin
        female Drosophila},\n volume = {78},\n year = {2021}\n}\n"}, "authors": [{"authorId":
        "48446534", "externalIds": {}, "url": "https://www.semanticscholar.org/author/48446534",
        "name": "H. Ishimoto", "aliases": ["H Ishimoto", "H. Ishimoto", "Hiroshi Ishimoto"],
        "affiliations": [], "homepage": null, "paperCount": 43, "citationCount": 1630,
        "hIndex": 23}, {"authorId": "5683768", "externalIds": {}, "url": "https://www.semanticscholar.org/author/5683768",
        "name": "A. Kamikouchi", "aliases": ["A Kamikouchi", "Azusa Kamikouchi"],
        "affiliations": [], "homepage": null, "paperCount": 68, "citationCount": 3167,
        "hIndex": 22}]}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - B0qhlFY1vHcF4Mg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1926'
      x-amzn-Remapped-Date:
      - Wed, 15 Mar 2023 12:46:01 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 635b29b6-be24-495e-9c75-7d71db305e5b
    status:
      code: 200
      message: OK
[...]
