interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/63f79cc7423d3032f2be2a380f2f47e429948902?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,authors.authorId,authors.externalIds,authors.url,authors.name,authors.aliases,authors.affiliations,authors.homepage,authors.paperCount,authors.citationCount,authors.hIndex
  response:
    body:
      string: '{"paperId": "63f79cc7423d3032f2be2a380f2f47e429948902", "externalIds":
        {"CorpusId": 195803037}, "publicationVenue": null, "url": "https://www.semanticscholar.org/paper/63f79cc7423d3032f2be2a380f2f47e429948902",
        "title": "A Dataset of Topic-Oriented Human-to-Chatbot Dialogues", "abstract":
        "This document contains the description of dataset collected during the first
        round of Conversational Intelligence Challenge (ConvAI) which took place in
        July 2017. During this evaluation round we collected over 2,500 dialogues
        from 10 chatbots and 500 volunteers. Here we provide the analysis of dataset
        statistics and outline some possible improvements for future data collection
        experiments.", "venue": "", "year": 2018, "referenceCount": 3, "citationCount":
        6, "influentialCitationCount": 3, "isOpenAccess": false, "openAccessPdf":
        null, "fieldsOfStudy": null, "s2FieldsOfStudy": [{"category": "Computer Science",
        "source": "s2-fos-model"}], "publicationTypes": null, "publicationDate": null,
        "journal": null, "citationStyles": {"bibtex": "@None{Logacheva2018ADO,\n author
        = {V. Logacheva and M. Burtsev and Valentin Malykh and V. Poluliakh and Alexander
        I. Rudnicky and Iulian Serban and R. Lowe and Shrimai Prabhumoye and A. Black
        and Yoshua Bengio},\n title = {A Dataset of Topic-Oriented Human-to-Chatbot
        Dialogues},\n year = {2018}\n}\n"}, "authors": [{"authorId": "145089549",
        "externalIds": {"DBLP": ["Varvara Logacheva"]}, "url": "https://www.semanticscholar.org/author/145089549",
        "name": "V. Logacheva", "aliases": ["V K Logacheva", "V. K. Logacheva", "Varvara
        K. Logacheva", "Varvara Logacheva"], "affiliations": [], "homepage": null,
        "paperCount": 62, "citationCount": 1994, "hIndex": 13}, {"authorId": "3359236",
        "externalIds": {"DBLP": ["Mikhail Burtsev", "Mikhail S. Burtsev"]}, "url":
        "https://www.semanticscholar.org/author/3359236", "name": "M. Burtsev", "aliases":
        ["M S Burtsev", "M.s. Burtsev", "M. S. Burtsev", "Mikhail S. Burtsev", "Mikhail
        Burtsev"], "affiliations": [], "homepage": null, "paperCount": 84, "citationCount":
        951, "hIndex": 13}, {"authorId": "47815719", "externalIds": {"DBLP": ["Valentin
        Malykh"]}, "url": "h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/63f79cc7423d3032f2be2a380f2f47e429948902/citations?fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"isInfluential": false, "citingPaper": {"paperId":
        "c3fdfe92202a0e334a87324a03d61ca545663460", "title": "Language Model Transformers
        as Evaluators for Open-domain Dialogues"}}, {"isInfluential": true, "citingPaper":
        {"paperId": "5027b38c67f7cac3b4b277056be703ad74e864f4", "title": "Item Response
        Theory for Efficient Human Evaluation of Chatbots"}}, {"isInfluential": true,
        "citingPaper": {"paperId": "0f8cb4a6c794ee18d5f9177782cf07d000adffca", "title":
        "An Evaluation Protocol for Generative Conversational Systems"}}, {"isInfluential":
        false, "citingPaper": {"paperId": "b6650aa754e76bbdc68cd3f782da6ebc1f294f5e",
        "title": "Predictive Engagement: An Efficient Metric For Automatic Evaluation
        of Open-Domain Dialogue Systems"}}, {"isInfluential": false, "citingPaper":
        {"paperId": "a4125bbefd70f10b79312eadb7bbe86986dbb066", "title": "DREAM technical
        report for the Alexa Prize 2019"}}, {"isInfluential": true, "citingPaper":
        {"paperId": "8240d155f3b3a04e4de38a903bb001d84fb3b492", "title": "N-Gram Accuracy
        Analysis in the Method of Chatbot Response"}}]}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - BxHtgGoxPHcF_lg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1081'
      x-amzn-Remapped-Date:
      - Tue, 14 Mar 2023 10:57:39 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 8f76c21f-4c03-4486-82a5-f24ddbf6b628
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/63f79cc7423d3032f2be2a380f2f47e429948902/references?fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"isInfluential": false, "citedPaper": {"paperId":
        "339c6e6d46836c173fb6a23b493c724896d4cc70", "title": "Towards an Automatic
        Turing Test: Learning to Evaluate Dialogue Responses"}}, {"isInfluential":
        false, "citedPaper": {"paperId": "05dd7254b632376973f3a1b4d39485da17814df5",
        "title": "SQuAD: 100,000+ Questions for Machine Comprehension of Text"}},
        {"isInfluential": false, "citedPaper": {"paperId": "52b0669065b583abbe5325bad8ce9decb7ecb052",
        "title": "Chatbot Evaluation and Database Expansion via Crowdsourcing"}}]}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - BxHtmEifvHcFq2Q=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '545'
      x-amzn-Remapped-Date:
      - Tue, 14 Mar 2023 10:57:39 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 8fcc0dfc-7818-4cb5-aeba-84a3f77f27fb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ids": ["0f8cb4a6c794ee18d5f9177782cf07d000adffca", "5027b38c67f7cac3b4b277056be703ad74e864f4",
      "8240d155f3b3a04e4de38a903bb001d84fb3b492"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors
  response:
    body:
      string: '[{"paperId": "5027b38c67f7cac3b4b277056be703ad74e864f4", "externalIds":
        {"ACL": "2020.eval4nlp-1.3", "MAG": "3098683121", "DOI": "10.18653/v1/2020.eval4nlp-1.3",
        "CorpusId": 226283632}, "publicationVenue": null, "url": "https://www.semanticscholar.org/paper/5027b38c67f7cac3b4b277056be703ad74e864f4",
        "title": "Item Response Theory for Efficient Human Evaluation of Chatbots",
        "abstract": "Conversational agent quality is currently assessed using human
        evaluation, and often requires an exorbitant number of comparisons to achieve
        statistical significance. In this paper, we introduce Ite[...]
