interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b/citations?&fields=paperId,title,isInfluential&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"isInfluential": true, "citingPaper": {"paperId":
        "1a37f43db8108af003bc9af181460ddaacf9e815", "title": "Convolutional Learning
        on Simplicial Complexes"}}, {"isInfluential": false, "citingPaper": {"paperId":
        "cb92a7f9d9dbcf9145e32fdfa0e70e2a6b828eb1", "title": "The Semantic Scholar
        Open Data Platform"}}, {"isInfluential": false, "citingPaper": {"paperId":
        "1712eaa82a2e3d081538a17e06416330fac0a0d8", "title": "Energy Efficient Semantic
        Communication over Wireless Networks with Rate Splitting"}}, {"isInfluential":
        false, "citingPaper": {"paperId": "b74[...]
