interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/author/6499892?fields=authorId,externalIds,url,name,aliases,affiliations,homepage,paperCount,citationCount,hIndex
  response:
    body:
      string: '{"authorId": "6499892", "externalIds": {}, "url": "https://www.semanticscholar.org/author/6499892",
        "name": "Eva Berlot", "aliases": null, "affiliations": [], "homepage": null,
        "paperCount": 22, "citationCount": 227, "hIndex": 8}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - AlHo7FK5PHcFoPg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '230'
      x-amzn-Remapped-Date:
      - Sun, 19 Feb 2023 09:32:15 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 34c81d69-e278-470d-83be-3b06f93d509f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/author/6499892/papers?fields=paperId&offset=0&limit=1000
  response:
    body:
      string: '{"offset": 0, "data": [{"paperId": "3db561bdd3f350dd8315c6b2d38e0a01b9da8a42"},
        {"paperId": "8ad2037f8f7bf44e51d7b23696e5a48fffcfb864"}, {"paperId": "0b780ce3126f29c5dca8e4a7deabe151d6d937dd"},
        {"paperId": "0f2208d4612fd510bb5a2d6de31882045c1dc4e4"}, {"paperId": "212d6cfdda17d5b89d591bba229926ea949082f1"},
        {"paperId": "3715d2742efb1fac0da1a99ef80463eb9bf66ac5"}, {"paperId": "623a94c59bf3012abb9da6ebf0452c142887b305"},
        {"paperId": "809ca1338c5ddee7bd1160971b29e6aa6f845655"}, {"paperId": "93d282981a[...]
