interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b?fields=paperId,externalIds,url,title,abstract,venue,year,referenceCount,citationCount,influentialCitationCount,isOpenAccess,openAccessPdf,fieldsOfStudy,s2FieldsOfStudy,publicationVenue,publicationTypes,publicationDate,journal,citationStyles,authors,authors.authorId,authors.externalIds,authors.url,authors.name,authors.aliases,authors.affiliations,authors.homepage,authors.paperCount,authors.citationCount,authors.hIndex
  response:
    body:
      string: '{"paperId": "649def34f8be52c8b66281af98ae884c09aef38b", "externalIds":
        {"DBLP": "conf/naacl/AmmarGBBCDDEFHK18", "MAG": "2952867657", "ACL": "N18-3011",
        "ArXiv": "1805.02262", "DOI": "10.18653/v1/N18-3011", "CorpusId": 19170988},
        "publicationVenue": {"id": "01103732-3808-4930-b8e4-7e9e68d5c68d", "name":
        "North American Chapter of the Association for Computational Linguistics",
        "type": "conference", "alternate_names": ["North Am Chapter Assoc Comput Linguistics",
        "NAACL"], "url": "https://www.aclweb.org/portal/naacl"}, "url": "https://www.semanticscholar.org/paper/649def34f8be52c8b66281af98ae884c09aef38b",
        "title": "Construction of the Literature Graph in Semantic Scholar", "abstract":
        "We describe a deployed scalable system for organizing published scientific
        literature into a heterogeneous graph to facilitate algorithmic manipulation
        and discovery. The resulting literature graph consists of more than 280M nodes,
        representing papers, authors, entities and various interactions between them
        (e.g., authorships, citations, entity mentions). We reduce literature graph
        construction into familiar NLP tasks (e.g., entity extraction and linking),
        point out research challenges due to differences from standard formulations
        of these tasks, and report empirical results for each task. The methods described
        in this paper are used to enable semantic features in www.semanticscholar.org.",
        "venue": "North American Chapter of the Association for Computational Linguistics",
        "year": 2018, "referenceCount": 27, "citationCount": 292, "influentialCitationCount":
        34, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.aclweb.org/anthology/N18-3011.pdf",
        "status": "HYBRID"}, "fieldsOfStudy": ["Computer Science"], "s2FieldsOfStudy":
        [{"category": "Computer Science", "source": "external"}, {"category": "Computer
        Science", "source": "s2-fos-model"}], "publicationTypes": ["JournalArticle",
        "Conference"], "publicationDate": "2018-05-06", "journal": {"pages": "84-91"},
        "citationStyles": {"bibtex": "@[''JournalArticle'', ''Conference'']{Ammar2018ConstructionOT,\n
        author = {Waleed Ammar and Dirk Groeneveld and Chandra Bhagavatula and Iz
        Beltagy and Miles Crawford and Doug Downey and Jason Dunkelberger and Ahmed
        Elgohary and Sergey Feldman and Vu A. Ha and Rodney Michael Kinney and Sebastian
        Kohlmeier and Kyle Lo and Tyler C. Murray and Hsu-Han Ooi and Matthew E. Peters
        and Joanna L. Power and Sam Skjonsberg and Lucy Lu Wang and Christopher Wilhelm
        and Zheng Yuan and Madeleine van Zuylen and Oren Etzioni},\n booktitle = {North
        American Chapter of the Association for Computational Linguistics},\n pages
        = {84-91},\n title = {Construction of the Literature Graph in Semantic Scholar},\n
        year = {2018}\n}\n"}, "authors": [{"authorId": "145585097", "externalIds":
        {"DBLP": ["Waleed Ammar"]}, "url": "https://www.semanticscholar.org/author/145585097",
        "name": "Waleed Ammar", "aliases": ["W Ashor Ammar", "W. Ammar", "Waleed A
        Ammar", "Walid Ammar"], "affiliations": ["Google"], "homepage": null, "paperCount":
        60, "citationCount": 3257, "hIndex": 23}, {"authorId": "3458736", "externalIds":
        {"DBLP": ["Dirk Groeneveld"]}, "url": "https://www.semanticscholar.org/author/3458736",
        "name": "Dirk Groeneveld", "aliases": null, "affiliations": [], "homepage":
        null, "paperCount": 7, "citationCount": 491, "hIndex": 6}, {"authorId": "1857797",
        "externalIds": {"DBLP": ["Chandra Bhagavatula", "Chandra Sekhar Bhagavatula"]},
        "url": "https://www.semanticscholar.org/author/1857797", "name": "Chandra
        Bhagav[...]
