interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/author/6499892?fields=authorId,externalIds,url,name,aliases,affiliations,homepage,paperCount,citationCount,hIndex
  response:
    body:
      string: '{"authorId": "6499892", "externalIds": {}, "url": "https://www.semanticscholar.org/author/6499892",
        "name": "Eva Berlot", "aliases": null, "affiliations": [], "homepage": null,
        "paperCount": 22, "citationCount": 225, "hIndex": 8}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - f3Mw5E6lvHcF1VQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '230'
      x-amzn-Remapped-Date:
      - Sun, 05 Feb 2023 11:09:31 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 07ae8fc8-dea1-48b7-bc42-5dd9ccde4354
    status:
      code: 200
      message: OK
version: 1
